<div class="page-header">
  <h1> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;
    Taco Valet &nbsp;&nbsp;&nbsp;
    <small>Tacos straight to your Limo</small></h1>
</div>

<h1 class="welcomehead">Hello {{users.name}}, Welcome to Taco-Valet</h1>

<div class="row">
  <div class="col-md-3">
    <div class="menu">
      <h2 class="text-center">MENU</h2>
      <ul class="list-group menulist">
          <li class="list-group-item">Taco</li>
          <li class="list-group-item">Burrito</li>
          <li class="list-group-item">Grilled Stuft Nacho</li>
          <li class="list-group-item">Cheesy Gordita Crunch</li>
          <li class="list-group-item">Quesalupa</li>
          <li class="list-group-item">Quesarito</li>
          <li class="list-group-item">Crunchwrap Supreme</li>
      </ul>

    </div>
  </div>
    <!-- <img src="https://assets3.thrillist.com/v1/image/1357735/size/tl-horizontal_main/everything-macaulay-culkin-eats-in-the-home-alone-movies-ranked" alt="some_text" width="300px;"> -->
  <div class="col-md-3">
    <div class="voiceinput">
      <h2 class="text-center">ORDER BY VOICE</h2>
      <button type="button" class="btn btn-primary center-block">CLICK TO TALK</button>
      <img class="tacocat" src="http://lovelace-media.imgix.net/uploads/280/8ba3a620-dae7-0132-4623-0ebc4eccb42f.jpg?w=670&fit=max&auto=format&q=70" alt="taco cat"/>
    </div>
  </div>
  <div class="col-md-6">
    <div class="menu">
      <h2 class="text-center">YOUR ORDER:</h2>
      <div class="insertOrder">

      </div>

    </div>
  </div>
</div>
