<div class="page-header">
  <h1>Welcome to Taco Valet &nbsp;&nbsp;&nbsp;
    <small>Tacos straight to your Limo</small></h1>
</div>

<h1>Hello {{users.name}}, Welcome to Taco-Valet</h1>

<div class="row">
  <div class="col-md-3">
    <div class="menu">
      <h2 class="text-center">MENU</h2>
    </div>
  </div>
    <!-- <img src="https://assets3.thrillist.com/v1/image/1357735/size/tl-horizontal_main/everything-macaulay-culkin-eats-in-the-home-alone-movies-ranked" alt="some_text" width="300px;"> -->
  <div class="col-md-6">
    <div class="voiceinput">
      <h2 class="text-center">YOUR ORDER:</h2>
      <button type="button" class="btn btn-primary center-block">Click to Say Your Order</button>
    </div>
  </div>
  <div class="col-md-3">
    <div class="menu">
      <h2 class="text-center">YOUR ORDER:</h2>
    </div>
  </div>
</div>
