
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("grumpcat.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: #00B7FF;
}

.page-header {
  color: #66ffff;
  font-family: 'Bangers', cursive;
  font-size: 2.5em;
}

.page-header small{
  color: limegreen;
  font-family: 'Bangers', cursive;
  font-size: 1.5em;
}

.welcomehead {
  color: white;
}

.menu {
  color: #ff3399;
  font-family: 'Bangers', cursive;
  background-color: #ffbb33;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #888888;
  height: 450px;
  padding: 15px;
  opacity: .9;
}

#menu h2 {
  text-align: center;
}

.voiceinput{
  color: black;
  font-family: 'Bangers', cursive;
  background-color: white;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #888888;
  height: 450px;
  padding: 15px;
  opacity: .9;
}

button {
  background-color: gray;
  border-radius: 20px;
  box-shadow: 2px 2x 2px #888888;
  margin-bottom: 15px;
  font-size: 2em;
}

.form-signin-heading {
  color: #ffbb33;
  font-family: 'Bangers', cursive;
}

.menulist {
  color: black;
  font-family: 'Bangers', cursive;
  font-size: 22px;
  top: 20px;
}

.insertOrder{
  height: 235px;
}

.tacocat{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  margin-top: 55px;
}
